.center-vertical {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center-horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
}

table,
tr,
td {
  border: 1px solid black;
  border-collapse: collapse;

}

.container {
  margin-top: 20px;
}

footer {
  text-align: center;
  font-family: sans-serif;
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

a {
  cursor: pointer;
}

a.button {
  padding: 10px 15px;
  border: 2px solid white;
  border-radius: 100px;
}

a.button:hover {
  background-color: white;
  color: black;
}

body {
  color: rgba(26, 26, 26, .7);
  font-family: 'Lora', serif;
  font-size: 16px;
  margin: 0;
}

@media (max-width: 500px) {
  body {
    font-size: 14px;
  }
}

.button,
#details h1,
footer address,
header h1 strong,
#links {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#details {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 500px) {
  #details {
    flex-direction: column;
  }
}
#details div {
  flex-grow: 1;
  padding: 20px;
}

#details img {
  width: 100%;
}

#details h1 {
  color: rgb(61, 153, 145);
  font-weight: normal;
  letter-spacing: 2px;
}

footer {
  background-color: rgb(31, 31, 31);
  color: rgba(255, 255, 255, .8);
  text-align: center;
  justify-content: space-between;
  display: flex;
  padding: 25px 325px;
}

footer p {
  color: rgba(255, 255, 255, .4);
}
@media (max-width: 500px) {
  footer {
    padding: 25px 50px;
  }
}

header h1 {
  font-size: 1em;
  line-height: 1.5;
}

h1 a.button {
  border: 0;
  background-color: #34e4cb;
  display: inline-block;
}

h1 a.button:hover {
  background-color: rgba(54, 179, 168, 0.75);
  color: inherit;
}

header {
  color: white;
  background-image: url('Images/header.jpg');
  background-size: cover;
  background-position: center;
  height: 600px;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 500px) {
  header {
    height: 300px;
    line-height: 1.2;
  }
}
header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

header h1 {
  font-weight: normal;
  text-align: center;
  z-index: 1;
}

header h1 a {
  font-size: .9em;
}

header h1 em {
  font-size: 1.25em;
  letter-spacing: 1px;
}

header h1 strong {
   /*font-size: 68px;*/
   font-size: 4.25em;
   letter-spacing: 4px;
}

@media (max-width: 500px) {
  header h1 strong {
    font-size: 2em;
    letter-spacing: 4px;
  }
}

header nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
 /*font-size: 14px;*/
 font-size: .875em;
 padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu {
  display: none;
}

#menu div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}
/*
@media (max-width: 500px) {
  #links {
    display: none;
  }

  #menu {
    display: block;
  }
}
*/
#links a {
  margin: 15px;
}

#logo {
  /*font-size: 40px;*/
  font-size: 2.5em;
}

#main p {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 125px;
  width: 60%;
}
@media (max-width: 500px) {
  #main p {
    width: 90%;
    margin-bottom: 2em;
  }
}

#main h1 {
  /*font-size: 28px;*/
  font-size: 1.75em;
  font-weight: normal;
  color: rgba(26,26,26,.9);
}

p {
  /*line-height: 36px;*/
  line-height: 2.25em;
}

section {
  margin: 100px 125px;
  text-align: center;
}

@media (max-width: 500px) {
  section {
    margin: 40px 10px;
  }
}

a {
  text-decoration: none !important;
}

.navbar {
  position: absolute !important;
  background: transparent;
  backdrop-filter: blur(10px);
}

.flex-grid {
  
  display: flex;

}
.flex-grid .col {
  flex: 1;
}

@media (max-width: 500px) {
  

  .flex-grid {
    flex-direction: column;
  }
  .flex-grid .col {
    width: 100%;
  }
}

.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}
.flex-grid-thirds .col {
  width: 32%;
}
.flex-grid { 
  margin: 0 0 20px 0;
}
.col {
  padding: 20px;
}
.col img:hover {
  transform: scale(1.3);
  transition: all 0.5s ease;
}
footer img:hover {
  transform: scale(1.3);
  transition: all 0.5s ease;
}
@media (max-width: 500px) {
  .flex-grid-thirds {
    flex-direction: column;
  }
  .flex-grid-thirds .col {
    width: 100%;
  }
  
}

.caption-3 {
	overflow: hidden;
	background: #000;
}

.caption-3 img {
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

.caption-3:hover img {
	opacity: 0.5;
}

.caption-3::after,
.caption-3::before {
	position: absolute;
	width: 100%;
	height: 50%;
	color: #fff;
	z-index: 1;
	-webkit-transition: -webkit-transform 0.3s ease-in-out; 
	-moz-transition: -moz-transform 0.3s ease-in-out; 
	transition: transform 0.3s ease-in-out; 
}

.caption-3::after {
	content: attr(data-title);
	top: 0;
	background: #0083ab;
	font-size: 40px;
	font-weight: 300;
	padding: 30px;
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}

.caption-3::before {
	content: '...' attr(data-description) '...';
	top: 50%;
	background: #f27545;
	font-size: 14px;
	padding: 20px;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	transform: translateY(100%);
}

.caption-3:hover::after,
.caption-3:hover::before {
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	transform: translateY(0%);
}
.button {
border: none;
background-color: transparent;

}
