h1{
    color: #F70D1A;
}

h1:hover{
    color: #fff200 ;
    font-size: 3em;
}

h2{
    color: 158964;
}

h2:hover{
    color: #34E4CB;
    font-size: 3em;
}

.center-vertical {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.center-horizontal {
    display: flex;
    align-items: center;
    justify-content: center;
}

table,tr,td{
    border: 1px solid black;
    border-collapse: collapse;
    
}
.container{
    margin-top: 20px;
}